.project-subtitle {
	margin-top: -70px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Rajdhani", sans-serif;
	letter-spacing: 1px;
}

.gallery {
	margin: 0 5vw;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.gallery a img{
	width: 100%;
	flex-basis: 0;
	flex-grow: 1;
	object-fit: contain;
}

.gallery img:hover {
	filter: brightness(150%);
}

.go-back {
	text-align: center;
	margin: 50px 0;
}

@media (min-width: 550px) {
	.gallery {
		margin: 0 15vw;
	}
}

@media (min-width: 1000px) {
	.gallery {
		flex-direction: row;
	}

	.gallery img {
		width: 0;
	}
}